a {
    text-decoration: none;
    color: gray;
}

a:hover {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    opacity: 0; 
    transition: opacity 1.5s; 
}

i {
    color: black;
    margin: 10px;
}

i:hover {
    text-decoration: none;
}

img.logo {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.69);
}

img.banner {
    width: 100%;
}

.button {
    border-radius: 50%;
}

.container {
    font-family: 'Palatino Linotype', Palatino, serif;
}

.jumbotron {
    font-family: 'Palatino Linotype', Palatino, serif;
    font-size: xx-small;
    background-color: white;
    margin-top: 100;
    margin-bottom: 0px;
    padding-bottom: 1px;
    opacity: 95%;
}
/*
.parallax {
    background-video: url('../images/launch.mp4');
    background-image: url('../images/union church full choir.jpg');
    height: 45vh; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}*/

.footer {
    margin-top: -50px;
    margin-bottom: 50px;
    text-align: center;
    color: black;
    z-index: 5000;

}

.footer i {
    opacity: 1 !important;  /* Ensure other styles aren't overriding this */
}


.main {
    text-align: center;
    margin: 30px;
    margin-top: 0px;

}

.toast {
    font-family: 'Palatino Linotype', Palatino, serif;
    margin: .8rem;
}

.alert-link {
    color: #3D8294;
}

.alert-link:hover {
    color: #17a2b8;
}

.title {
    margin: 10px;
    z-index: 2000;
}

#email:hover {
    color: #0072c6;
}

#facebook:hover {
    color: #4267b2;
}

#github:hover {
    color: #6e5494;
}

#headline {
    color: black;
}

#instagram:hover {
    color: #c13584;
}

#linkedin:hover {
    color: #0e76a8;
}

#youtube:hover {
    color: #ff0000;
}

#mailchimp:hover {
    color: #dda960;
}

#videoBackground {
    position: fixed;
    left: 0;
    width: 100%;
    height: 80vh;  
    overflow: hidden;
    z-index: -1000;
}

#bgVideo {
    object-fit: cover; /* cover entire viewport */
    width: 100%;
    height: 100%;
}

#instruction {
    margin-top: 20px;
    font-size: 14px; /* Adjust size as per your design */
}

.fullscreen-iframe {
    position: fixed; /* Fix the iframe to the viewport */
    top: 0;          /* Align to the top */
    left: 0;         /* Align to the left */
    width: 100vw;    /* Full viewport width */
    height: 100vh;   /* Full viewport height */
    border: none;    /* Remove border for a cleaner look */
    z-index: 9999;   /* Ensures the iframe stays on top of other elements */
}