a {
    text-decoration: none;
    color: gray;
}

a:hover {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    opacity: 0; 
    transition: opacity 1.5s; 
}

nav li {
    margin: 0;
    padding: 0 30px;
    float: right;
}

nav ul {
    list-style: none;
}

.btn {
    padding: .2rem .2rem;
}

.container {
    background-color: white;
    font-family: 'Palatino Linotype', Palatino, serif;
    text-align: center;
    position: absolute; /* Added */
    top: 10%; /* Added - Adjust the percentage to set the container higher or lower */
    left: 50%; /* Added - Center the container horizontally */
    transform: translateX(-50%); /* Added - Ensure true centering by offsetting based on its own width */
    width: 80%; /* Added/Adjust - You might want to set a max width or width */
    opacity:75%
    /* Additional properties for styling can be added/adjusted here */
}

.container h1 {
    text-align: center;
}

#members {
    margin-left: auto;
    margin-right: auto;
}

.divisi {
    height: 20px;
}

td {
    padding: 0 70px;
}

#demo p {
    margin-bottom: 0px;
}

.parallax {
    background-image: url('../images/behind sakena.jpg');
    height: 400px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#title {
    padding-top: 70px;
}

#maintext {
    padding: 70px 0;
}

#sma {
    text-decoration: underline;
    color: black;
}

#sma:hover {
    text-decoration: underline;
    color: blue;
}

#sma:visited {
    text-decoration: none;
}
