a {
    text-decoration: none;
    color: gray;
}

a:hover {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    opacity: 0;
    transition: opacity 1s;
}

nav li {
    margin: 0;
    padding: 0 30px;
    float: right;
}

nav ul {
    list-style: none;
}

h2 {
    margin-bottom: 1.0rem;
}

form {
    margin-top: -40px;
    text-align: center;
    padding-top: 10px;
    border-radius: 10px;
    background-color: #f8f8f8;
}

.card {
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    padding: 10px 10px 10px 10px;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
    cursor: default;
}

.column {
    padding-bottom: 15px;
}

.perf-row {
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
}

.perf-column {
    flex: 1;
}

.perf-card-col {
    margin-bottom: 1.5rem;
}

@media only screen and (max-width: 767px) {
    .perf-row {
        flex-direction: column;
        gap: 10px;
        margin-bottom: 5px;
    }

    .perf-card-col {
        margin-bottom: 10px;
    }

    .card {
        padding: 5px;
    }

    .column {
        padding-bottom: 5px;
    }
}

.container {
    background-color: white;
    font-family: 'Palatino Linotype', Palatino, serif;
}

.container h1 {
    text-align: center;
}

/* container */
.responsive-two-columns {
    display: flex;
    flex-wrap: wrap;
}

/* columns */
.responsive-two-columns>* {
    width: 100%;
}

/* tablet breakpoint */
@media (min-width:768px) {
    .responsive-two-columns>* {
        width: 50%;
    }

    .column {
        padding-bottom: 0px;
    }
}

#link {
    text-decoration: underline;
    color: black;
}

#link:hover {
    text-decoration: underline;
    color: blue;
}

#link:visited {
    text-decoration: none;
}

#facebook {
    transform: scale(1.5);
}

#facebook:hover {
    color: #4267b2;
}

#historical_perfs li {
    padding: 0.5em;
}